body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color:rgba(0, 0, 0, 0.911);
  color: rgba(255, 255, 255, 0.945);
}

h1 {
  font-size: 3rem;
}

button {
  width: 10vw;
  height: 5vh;
  margin-top: 3rem;
  color: rgba(0, 0, 0, 0.911);
  font-family: 'Ubuntu';
  font-size: 1rem;  
}

input {
  color: rgba(0, 0, 0, 0.911);
  font-family: 'Ubuntu';
  font-size: 1rem;  
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.parede {
  width: 20vw;
}

.parede>input {
  margin-bottom: 0.2rem;
}

.dados {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;  
}

/* .resposta {
  align-self: center;
  margin-top: 1.5rem;
  width: 30rem;
  color: rgba(255, 0, 0, 0.897);
  font-size: 0.8rem;
} */


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

  box-shadow: none !important;
} */